In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("./data/Training_Data_0611N_cleaned.csv")
df.head()
df.shape

,Unnamed: 0,cust_id,profitable_flag,count_accts,cm_age,flag_top_ed_spender,flag_cust_fee_paid_6m,pre6m_cust_spend,pre6m_cust_roc_cnt,pre6m_cust_non_disc_amt,...,cnsumr_chrg_actv_cust_cnt,cnsumr_chrg_avg_credit_12m_amt,cnsumr_lend_actv_cust_cnt,cnsumr_lend_tot_util_ratio,sow_revol_avg_paydown_pct,sow_tot_annual_ext_pmt_amt,sow_tot_revol_bal_amt,sow_tot_revol_cnt,sow_tot_trans_bal_amt,sow_tot_trans_cnt
0,0,550391.0,0.0,1.0,74.0,1.0,0.0,1518.0,122.0,811.0,...,0.0,NaN,1.0,0.034044,0.0000,991.0,NaN,0.0,NaN,3.0
1,1,550392.0,0.0,1.0,64.0,0.0,0.0,4807.0,354.0,1052.0,...,0.0,7.0,1.0,0.044086,0.0877,2.0,24.0,2.0,NaN,0.0
2,2,550393.0,0.0,1.0,75.0,1.0,0.0,2361.0,204.0,1351.0,...,0.0,NaN,1.0,0.039613,0.0000,4828.0,NaN,0.0,387.0,3.0
3,3,550394.0,0.0,2.0,73.0,0.0,1.0,5452.0,142.0,1195.0,...,1.0,493.0,1.0,0.001200,0.0000,4598.0,NaN,0.0,295.0,4.0
4,4,550395.0,0.0,2.0,68.0,0.0,0.0,170.0,34.0,88.0,...,0.0,NaN,2.0,0.003378,0.0168,2176.0,2606.0,5.0,143.0,13.0

(19599, 51)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19599 entries, 0 to 19598
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      19599 non-null  int64
 1   cust_id                         19595 non-null  float64
 2   profitable_flag                 19595 non-null  float64
 3   count_accts                     19595 non-null  float64
 4   cm_age                          19595 non-null  float64
 5   flag_top_ed_spender             19547 non-null  float64
 6   flag_cust_fee_paid_6m           19595 non-null  float64
 7   pre6m_cust_spend                19005 non-null  float64
 8   pre6m_cust_roc_cnt              19595 non-null  float64
 9   pre6m_cust_non_disc_amt         18413 non-null  float64
 10  pre6m_cust_non_disc_cnt         19595 non-null  float64
 11  pre6m_cust_disc_amt             18902 non-null  float64
 12  pre6m_cust_disc_cnt             19595 non-null  float64
 13  pre6m_cust_outbound_amt         17418 non-null  float64
 14  pre6m_cust_online_amt           18384 non-null  float64
 15  pre6m_cust_online_cnt           19595 non-null  float64
 16  pre6m_cust_travel_amt           17674 non-null  float64
 17  pre6m_cust_travel_cnt           19595 non-null  float64
 18  pre6m_cust_retail_amt           18761 non-null  float64
 19  pre6m_cust_retail_cnt           19595 non-null  float64
 20  pre6m_cust_myca_active          19595 non-null  float64
 21  pre6m_cust_mob_logins           19595 non-null  float64
 22  pre6m_total_mc_trs              19595 non-null  float64
 23  acq_sub_chn                     18693 non-null  object
 24  acq_type_grp                    18723 non-null  object
 25  fee_type_grp                    19595 non-null  object
 26  Cust_tenure                     19359 non-null  float64
 27  pre6m_spend_active_ind          19359 non-null  float64
 28  highly_utilized_ind             19359 non-null  float64
 29  min_pay_ind                     19359 non-null  float64
 30  paid_in_full_ind                19359 non-null  float64
 31  sum_total_line_amt              17811 non-null  float64
 32  direct_debit_ind                19359 non-null  float64
 33  referrals                       19359 non-null  float64
 34  spillover                       19359 non-null  float64
 35  self_accts                      19359 non-null  float64
 36  Customer Low Quality indicator  19359 non-null  float64
 37  cdss_most_rcnt_prob             19350 non-null  float64
 38  cust_max_credit_12m_amt         17742 non-null  float64
 39  cust_max_remit_12m_amt          17593 non-null  float64
 40  cbr_3_score                     19350 non-null  float64
 41  cnsumr_chrg_actv_cust_cnt       19350 non-null  float64
 42  cnsumr_chrg_avg_credit_12m_amt  4147 non-null   float64
 43  cnsumr_lend_actv_cust_cnt       19350 non-null  float64
 44  cnsumr_lend_tot_util_ratio      19350 non-null  float64
 45  sow_revol_avg_paydown_pct       19350 non-null  float64
 46  sow_tot_annual_ext_pmt_amt      9038 non-null   float64
 47  sow_tot_revol_bal_amt           3103 non-null   float64
 48  sow_tot_revol_cnt               19350 non-null  float64
 49  sow_tot_trans_bal_amt           5686 non-null   float64
 50  sow_tot_trans_cnt               19350 non-null  float64
dtypes: float64(47), int64(1), object(3)
memory usage: 7.6+ MB

In [5]:
df.isna().sum()

Unnamed: 0                            0
cust_id                               4
profitable_flag                       4
count_accts                           4
cm_age                                4
flag_top_ed_spender                  52
flag_cust_fee_paid_6m                 4
pre6m_cust_spend                    594
pre6m_cust_roc_cnt                    4
pre6m_cust_non_disc_amt            1186
pre6m_cust_non_disc_cnt               4
pre6m_cust_disc_amt                 697
pre6m_cust_disc_cnt                   4
pre6m_cust_outbound_amt            2181
pre6m_cust_online_amt              1215
pre6m_cust_online_cnt                 4
pre6m_cust_travel_amt              1925
pre6m_cust_travel_cnt                 4
pre6m_cust_retail_amt               838
pre6m_cust_retail_cnt                 4
pre6m_cust_myca_active                4
pre6m_cust_mob_logins                 4
pre6m_total_mc_trs                    4
acq_sub_chn                         906
acq_type_grp                        876
fee_type_grp                          4
Cust_tenure                         240
pre6m_spend_active_ind              240
highly_utilized_ind                 240
min_pay_ind                         240
paid_in_full_ind                    240
sum_total_line_amt                 1788
direct_debit_ind                    240
referrals                           240
spillover                           240
self_accts                          240
Customer Low Quality indicator      240
cdss_most_rcnt_prob                 249
cust_max_credit_12m_amt            1857
cust_max_remit_12m_amt             2006
cbr_3_score                         249
cnsumr_chrg_actv_cust_cnt           249
cnsumr_chrg_avg_credit_12m_amt    15452
cnsumr_lend_actv_cust_cnt           249
cnsumr_lend_tot_util_ratio          249
sow_revol_avg_paydown_pct           249
sow_tot_annual_ext_pmt_amt        10561
sow_tot_revol_bal_amt             16496
sow_tot_revol_cnt                   249
sow_tot_trans_bal_amt             13913
sow_tot_trans_cnt                   249
dtype: int64